  
        <div class="container">
            <% if(SurveyList.length) {%>
            <br>
            <h2 class="home__description text-center font-weight-bold"><% if(title == 'My Surveys'){%>My Surveys<%} else {%>Survey List<%}%></h2>
            <table class="table table-hover table-bordered text-center">
            <thead class="font-weight-bold">
                <tr>
                    <th>No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Number of Questions</th>
                    <th scope="col">Active</th>
                    <th scope="col">Expires</th>
                    <th scope="col">Responses</th>
                    <th></th>
                     <% if(typeof username == 'string' && username && title == 'My Surveys'){ %>
                    <th></th>
                    <th></th>
                     <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(let count = 0; count < SurveyList.length; count++){ %>
                    <tr>
                        <td><%= count+1+"." %></td>
                        <td><%= SurveyList[count].title%></td>
                        <td><%= SurveyList[count].questions%></td>
                        <td><%= SurveyList[count].startDate && SurveyList[count].startDate.toLocaleDateString()%></td>
                        <td><%= SurveyList[count].endDate && SurveyList[count].endDate.toLocaleDateString()%></td>
                        <td><%= SurveyList[count].responses%></td>
                        <% if(typeof username == 'string' && username && title == 'My Surveys'){ %>
                        <td>
                            <a href="/edit/<%= SurveyList[count]._id %>" class = "btn survey__create">
                            Edit Survey
                            </a>
                        </td>
                        <td>
                            <a href="/delete/<%= SurveyList[count]._id %>" class = "btn survey__create delete">
                                Delete Survey
                            </a>
                        </td>
                        <td>
                            <a href="/statistics/<%= SurveyList[count]._id %>" class = "btn survey__create">
                                View Statistics
                            </a>
                        </td>
                        <% } else{ %>
                        <td>
                            <a href="/survey/take/<%= SurveyList[count]._id %>" class = "btn survey__create">
                                Take Survey
                            </a>
                        </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
            </table>
            <%} else {%>
                <div class="container text-center home__title p-3">
                    <h3>There is no list of surveys.<br>
                    Please click Create Survey to add your first survey
                    </h3>
                </div>
            <% } %>