  
        <div class="container">
            <% if(SurveyList.length) {%>
            <br>
            <h2 class="home__description text-center font-weight-bold">Survey List</h2>
            <table class="table table-hover table-bordered text-center">
            <thead class="font-weight-bold">
                <tr>
                    <th>No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Number of Questions</th>
                    <th scope="col">Expiry Date</th>
                    <th></th>
                     <% if(typeof username == 'string' && username){ %>
                    <th></th>
                     <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(let count = 0; count < SurveyList.length; count++){ %>
                    <tr>
                        <td><%= count+1+"." %></td>
                        <td><%= SurveyList[count].title%></td>
                        <td><%= SurveyList[count].questions%></td>
                        <td><%= SurveyList[count].updated.toLocaleDateString()%></td>
                        <% if(typeof username == 'string' && username){ %>
                        <td>
                            <a href="/edit/<%= SurveyList[count]._id %>" class = "btn survey__create">
                            Edit Survey
                            </a>
                        </td>
                        <td>
                            <a href="/delete/<%= SurveyList[count]._id %>" class = "btn survey__create delete">
                                Delete Survey
                            </a>
                        </td>
                        <% } else{ %>
                        <td>
                            <a href="/survey/take/<%= SurveyList[count]._id %>" class = "btn survey__create delete">
                                Take Survey
                            </a>
                        </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
            </table>
            <%} else {%>
                <div>There is no list of surveys.<br>
                    Please click the button above to add your first survey
                </div>
            <% } %>