<div class="container">
    <div class="row">

        <div class="col-md-10">
            <br>
            <h2 class="home__description text-center font-weight-bold">Edit survey</h2>

            <form class="form" method="POST" id="add-form">
                <div class="form-group">
                    <label for="surveyTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="surveyTextField"
                    value="<%= survey.title%>"
                    name="title" required>
                </div>
 
                <header>
                    <h1>Set Expiry</h1>
            
                    <form action="/" method="get">
                        <input type="text" placeholder="search year" name="year">
                        <button type="submit">search</button>
                    </form>
            
                    <h2>year <%= year %></h2>
                </header>
            
            
                <div class="calendar-container">
                    <% for(let month = 0;month < calendar.length;month++) { %>
            
                    <div class="month-container" id="<%= months[month] %>">
                        <h3 style="text-align: center;"> <%= months[month] %> </h3>
            
            
                        <div class="day-of-week">
                            <span>Sun</span><span>Mon</span><span>Tue</span><span>
                                Wed</span><span>Thu</span><span>Fri</span><span>Sat</span>
                        </div>
                        <% for(let x = 0;x < calendar[month].length;x++) { %>
                        <div class="days">
                            <% for(let y = 0;y < calendar[month][x].length;y++) { %>
            
                            <div class="date">
                                <div id="<%=calendar[month][x][y] %>">
                                    <%= calendar[month][x][y] %>
                                </div>
                            </div>
            
                            <% } %>
                        </div>
                        <% } %>
                    </div>
            
                    <% } %>
                </div>

                <input type="hidden"  name="questionCount" id="questionCount"/>
                <% for(let i = 1; i < survey.ques_and_list.length; i++){ %>
                    <div class="form-group question-fields" id="<%=i%>">
                        <label>Question</label>
                        <input type="text" class="form-control"
                        id="question<%= i%>"
                        placeholder="Enter the Survey Title"
                        value = "<%= survey.ques_and_list[i].ques%>"
                        name="question<%= i%>" required>

                        <label>Question Type</label>
                        <select class="form-control" 
                            id="question<%=i%>type" 
                            name="question<%=i%>type"
                            required>
                            <option value="">Select Type</option>   
                            <option value="text" <% if (survey.ques_and_list[i].type == 'text') { %>selected<% } %>>Single Textbox</option>
                            <option value="mcq"   <% if (survey.ques_and_list[i].type == 'mcq') { %>selected<% } %>>Multiple Choice</option>
                        </select>

                    
                        <% if(survey.ques_and_list[i].options) {
                            for(let j=0;j<survey.ques_and_list[i].options.length;j++){ %>
                            <br>
                            <input type="text" id="question<%=i%>options"
                                name="question<%=i%>options"
                                value="<%=survey.ques_and_list[i].options[j] %>"
                            />
                        <%}}%>
                        
                    </div>
                <% } %>
                <div class="add-btn-group">
                    <button type="submit" id="createSurvey"  class="survey__create">Edit</button>
                    <a href = "/mySurveys" class="survey__create">Cancel</a>
                </div>
            </form>
            <button id="addQues"  class="survey__create" onclick="">Add Question</button>
        </div>

    </div>
</div>