        <!-- MAIN CONTENT -->
        <div class="container">
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <h3>Survey List</h3>
                <br>
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Number of Questions</th>
                        <th class="text-center">Created Date</th>
                        <th class="text-center">Updated Date</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <!-- Template Row -->
                      <% for (let count = 0; count < survey.length; count++) { %>
                        <tr>
                          <td><%= survey[count].title %></td>
                          <td class="text-center"><%= survey[count].ques_and_list %></td>
                          <td class="text-center">$<%= survey[count].created %></td>
                          <td class="text-center"><%= survey[count].updated %></td>
        
                          <td class="text-center">
                            <!-- ------------------------ -->
                            <!-- ADD the EDIT BUTTON HERE -->
                            <!-- ------------------------ -->
                            <a href="survey/<%= survey[count]._id %>" class="btn btn-primary btn-sm"><i class="fa fa-solid fa-pencil"></i> Edit</a>
                          </td>
        
                          <td class="text-center">
                            <!-- ------------------------ -->
                            <!-- ADD the DELETE BUTTON HERE -->
                            <!-- ------------------------ -->
                            <a href="survey/delete/<%= survey[count]._id %>" class="btn btn-danger btn-sm"><i class="fa fa-solid fa-trash"></i> Delete</a>
                          </td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                </div>
