    <!-- Display All Survey page -->
    <section id="displayall">
        <h1 class="home__title">Please Let Us Know</h1>
        <h2 class="home__description">20 million questions answered daily.</h2>
        <button class="survey__create"><a href="/add">Create Survey</a></button>
              
            <div class="container">
                <% if(SurveyList.length) {%>
                <br>
                <h2 class="home__description text-center font-weight-bold">Survey List</h2>
                <table class="table table-hover table-bordered text-center">
                <thead class="font-weight-bold">
                    <tr>
                        <th>No.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Number of Questions</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Take Survey</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let count = 0; count < SurveyList.length; count++){ %>
                    <tr>
                        <td><%= count+1+"." %></td>
                        <td><%= SurveyList[count].title%></td>
                        <td><%= SurveyList[count].questions%></td>
                        <td><%= SurveyList[count].updated.toLocaleDateString()%></td>
                        <td>
   
                                <a href="/survey/take/<%= SurveyList[count]._id %>" class = "btn survey__create delete">
                                Take Survey
                            </a>

                        </td>
                    </tr>
                    <% } %>
                </tbody>
                </table>
    
    
      </section>
    